@model PagedResult<MemberLoanAuditList>
@section Header
{
    <script type="text/javascript" src="/Content/lib/laypage/1.3/laypage.js"></script>

}
@section Footer
{
    <script type="text/javascript">
        laypage({
            cont: $('#pager'),
            skin: '#AF0000', //皮肤
            pages: '@Model.TotalPageCount', //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                var page = location.search.match(/PageIndex=(\d+)/);
                return page ? page[1] : 1;
            }(),
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    location.href = '?PageIndex=' + e.curr;
                }
            }
        });

        $(function () {
            //审核通过
            $("[class*='action-audit']").click(function () {
                if ($("input[type='checkbox'][name='LoanAudit']:checked").length <= 0) {
                    layer.msg("请选择申请借款选项");
                    return;
                }
                var $this = $(this);
                layer.confirm('确定审核选中的项目？',
                   { btn: ['确定', '取消'] },
                   function () {
                       var IDs = [];
                       $("input[type='checkbox'][name='LoanAudit']:checked").each(function (i) {
                           IDs[i] = $(this).val();
                       });

                       var index = layer.load(1, {
                           shade: [0.1, '#000']
                       });

                       var Status = '@((int)LoanAuditEnum.NoPass)';
                       if ($this.filter(".action-audit-pass").length > 0)
                           Status = '@((int)LoanAuditEnum.Pass)';

                       //提交
                       $.ajax({
                           url: "@Url.Action("BatchAudit", "LoanAudit")",
                           data: { "IDs": IDs, "Status": Status },
                           dataType: "json",
                           type: "post",
                           success: function (response) {
                               layer.close(index);
                               if (response.status) {
                                   layer.msg(response.message);
                                   refresh();
                               } else {
                                   layer.msg(response.message);
                               }
                           },
                           error: function (data) {
                               layer.close(index);
                               layer.msg("服务器错误");
                           }
                       });
                   })
            });

            //审核不通过
            $(".action-audit-nopass").click(function () {

            });
        })
    </script>
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 个人借款 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="text-c">
        @using (Html.BeginForm("GetLoanAuditList", "LoanAudit", FormMethod.Get))
            {
            @Html.Label("用户名:") @Html.TextBox("MemberName", null, new { style = "width:250px", @class = "input-text", placeholder = "用户名" })
            @:审核状态:
            <span class="select-box inline">
                @Html.DropDownList("Status", ViewData["StatusType"] as List<SelectListItem>, new { @class = "select" })
            </span>
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>

        }
    </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="80">用户名</th>
                    <th width="80">联系电话</th>
                    <th width="80">总循环额度</th>
                    <th width="80">已用循环额度</th>
                    <th width="80">可用循环额度</th>
                    <th width="80">申请额度</th>
                    <th width="80">状态</th>
                    <th width="100">提交时间</th>
                    <th width="100">审核时间</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="text-c">
                        <td><input type="checkbox" value="@item.ID" name="LoanAudit"></td>
                        <td>@item.MemberName</td>
                        <td>@item.MemberPhone</td>
                        <td>@item.TotalAmount</td>
                        <td>@item.AlreadyUsedAmount</td>
                        <td>@item.AvailableAmount</td>
                        <td>@item.ApplyAmount</td>
                        <td>@EnumExt.GetEnumCustomDescription((LoanAuditEnum)Convert.ToInt32(item.Status)) </td>
                        <td>@(item.ApplyDate == null ? "无": Convert.ToString(item.ApplyDate))</td>
                        <td>@(item.AuditDate == null ? "无" : Convert.ToString(item.AuditDate))</td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="pager" style="margin-top: 20px;"></div>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" class="btn btn-primary radius action-audit-pass"><i class="Hui-iconfont">&#xe6e1;</i> 通过</a> <a href="javascript:;" class="btn btn-danger radius action-audit-nopass"><i class="Hui-iconfont">&#xe6dd;</i> 不通过</a> </span><span class="r">共有数据：<strong>@Model.TotalItemCount</strong> 条</span> </div>
</div>
