@model UserWithDrawPageResult<DrawCash>
@{
    ViewBag.Title = "提现申请";
    Layout = "~/Views/User/_Layout_user.cshtml";
}

<div class="user-right-w pull-right am-margin-bottom-lg am-margin-left-lg">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                提现申请
            </h3>
        </div>
        @using (Html.BeginForm("WithDraw", "UserApplyWithDraw", FormMethod.Post))
        {
            <div class="panel-body">
                <div class="am-padding-bottom-sm">
                    姓名：@CommonHelper.CurrentUser.MemberName
                </div>
                <div class="clearfix">
                    <div class="pull-left am-padding-top-xs">
                        银行卡：建设银行
                    </div>
                    <div class="pull-right">
                        可提金额：<span class="text-primary am-text-xl am-padding-horizontal-sm">@(ViewBag.LeftAccount)</span>元
                        @Html.Hidden("leftAccount", (decimal)ViewBag.LeftAccount)
                    </div>
                </div>
                <div class="row am-padding-top-sm">
                    <div class="col-lg-5">
                        @Html.TextBox("money", 0, new { @class="form-control", placeholder="请输入提现金额"})
                    </div>
                    <div class="col-lg-2 col-lg-offset-5 text-right">
                        <button type="submit" class="btn btn-info bg-lightblue" id="btnWithDraw">确定</button>
                    </div>
                </div>
            </div>
        }
        
    </div>

    @Html.Partial("~/Views/_Pager.cshtml")
    <!--列表-->
    <div class="panel panel-default bg-lightgrey am-margin-bottom-0">
        <div class="panel-heading">
            <h3 class="panel-title row">
                <form action="/UserApplyWithDraw/Index" class="form-inline">
                    @Html.Hidden("PageIndex")
                    <div class="clearfix">
                        <div class="pull-left">
                            @*<div class="form-group am-padding-horizontal-sm">
                                <label for="" class="am-padding-right-sm">操作类型</label>
                                <select class="form-control">
                                    <option value="">户籍性质</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>*@
                            <div class="form-group am-padding-horizontal-sm">
                                <label for="" class="am-padding-right-sm">起止时间</label>
                                @Html.TextBox("StartTime", Model.Parameter.StartTime, new { @class="form-control date", placeholder="开始时间"})
                                <span>——</span>
                                @Html.TextBox("EndTime", Model.Parameter.StartTime, new { @class = "form-control date", placeholder = "结束时间" })
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="form-group am-padding-right-sm">
                                <button type="button" class="btn btn-info bg-lightblue" id="search">查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </h3>
        </div>
        <div class="insurance-list-w">
            <ul class="list-unstyled am-margin-0">

                @foreach (DrawCash item in Model.Items)
                {
                    <li class="row bg-white">
                        <div class="col-lg-12">
                            <dl class="am-margin-0">
                                <dd class="row am-padding-vertical-sm">
                                    <div class="col-lg-6">
                                        提现金额：@item.Money
                                    </div>
                                    <div class="col-lg-6">
                                        申请时间：@item.ApplyTime.ToString("yyyy-MM-dd HH:mm:ss")
                                        
                                    </div>
                                </dd>
                                <dd class="row am-padding-vertical-sm">
                                    <div class="col-lg-6">
                                        提现状态：@(item.ApplyStatus == 0 ? "未审核" : "审核通过")
                                    </div>
                                    <div class="col-lg-6">
                                        申请通过时间：@(item.AgreeTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "" : item.AgreeTime.ToString("yyyy-MM-dd"))
                                    </div>
                                </dd>
                                <dd class="row am-padding-vertical-sm">
                                    <div class="col-lg-6">
                                        可提现余额：@item.LeftAccount
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                }

            </ul>
        </div>
        <!--翻页-->
        <!--分页-->
        <div id="pager" style="margin-top: 20px;"></div>
    </div>
</div>

@section Footer
{
    <script>

        $(function () {

            $("#btnWithDraw").click(function () {

                var money = $("#money").val();
                if (money == 0) {
                    return false;
                }

                
            });


            $('#StartTime,#EndTime').datetimepicker({
                language: 'zh-CN',
                format: 'yyyy-mm',
                weekStart: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 4,
                minView: 3,
                forceParse: 0
            });



        });


    </script>
}