@{
    Layout = "~/Views/_Layout_black.cshtml";
}
@section Footer{
    <script src="~/Scripts/project.js" type="text/javascript" charset="utf-8"></script>
}
<div class="bg-lightgrey">
    <div class="container">
        <ol class="breadcrumb bg-lightgrey am-margin-bottom-0">
            <li><a href="@Url.Action("Index", "Index", new {}, "http")"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
            <li><a href="@Url.Action("Info", "User", new {}, "http")">我的账户</a></li>
            <li class="active">补充信息</li>
        </ol>


        @Html.Partial("~/Views/Message.cshtml") 

        
        @Html.Partial("~/Views/User/Left.cshtml")

        @RenderBody()

    </div>

</div>