@model WYJK.HOME.Models.PasswordViewModel
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/_Layout_white.cshtml";
}

<div class="bg-lightgrey">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <img src="/Content/img/login-left.jpg" width="739" height="452" />
            </div>
            <div class="pull-right">
                <div class="bg-white loginBox-w am-padding-lg">

                    @ViewBag.ErrorMessage
                    @Html.ValidationSummary()
                    <form action="/User/Password" class="form-horizontal" method="post">
                        <div class="form-group am-padding-top-lg">
                            <label for="" class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.MemberName, new { placeholder = "请输入用户名", @class = "form-control", maxlength = 50 })
                            </div>
                        </div>
                        <div class="form-group am-padding-top-lg">
                            <label for="" class="col-lg-3 control-label">手机号</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.MemberPhone, new { placeholder = "请输入手机号", @class = "form-control", maxlength = 13 })
                            </div>
                        </div>
                        <div class="form-group am-padding-top-lg">
                            <label for="" class="col-lg-3 am-padding-left-0 control-label">短信验证码</label>
                            <div class="col-lg-5 am-padding-right-0">
                                @Html.TextBoxFor(m => m.SMSCheckCode, new { placeholder = "请输入验证码", @class = "form-control", maxlength = 6 })
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-info bg-lightblue">获取验证码</button>
                            </div>
                        </div>
                        <div class="form-group am-padding-top-lg">
                            <label for="inputPassword3" class="col-lg-3 control-label">新密码</label>
                            <div class="col-lg-9">
                                @Html.PasswordFor(m => m.Password, new { placeholder = "请输入密码", @class = "form-control", maxlength = 50 })
                            </div>
                        </div>

                        <!--按钮-->
                        <div class="form-group am-padding-top-lg">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-info bg-lightblue btn-lg btn-block">密码找回</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    <!--end-->
</div>











