@model PagedResult<CustomerServiceViewModel>
@{

}
@section Header
{
    <script type="text/javascript" src="~/Content/lib/laypage/1.3/laypage.js"></script>
}
@section Footer
{
    <script type="text/javascript">
        laypage({
            cont: $('#pager'),
            skin: '#AF0000', //皮肤
            pages: '@Model.TotalPageCount', //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                var page = location.search.match(/PageIndex=(\d+)/);
                return page ? page[1] : 1;
            }(),
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    location.href = '?PageIndex=' + e.curr
                    + "&UserType=" + '@Request.QueryString["UserType"]'
                    + "&MemberID=" + '@Request.QueryString["MemberID"]'
                    + "&SocialSecurityPeopleName=" + '@Request.QueryString["SocialSecurityPeopleName"]'
                    + "&IdentityCard=" + '@Request.QueryString["IdentityCard"]';

                }
            }
        });

        $(function () {
            $(".Huialert.Huialert-info").fadeOut(2000);

            $("#UserType").change(function () {
                $this = $(this);

                $.ajax({
                    url: '@Url.Action("GetMemberList1", "Member")?UserType=' + $this.val(),
                    dataType: "json",
                    type: "get",
                    success: function (data) {
                        $("#MemberID").empty();
                        $("#MemberID").append("<option value=''>全部</option>");
                        $.each(data, function (i, obj) {
                            $("#MemberID").append("<option value='" + obj.MemberID + "'>" + obj.MemberName + "</option>");
                        });
                    },
                    error: function () {
                        alert("服务器错误");
                    }
                });
            });

            //订单查看
            $(".order-view").click(function () {
                var socialSecurityPeopleID = $(this).data("id");
                //alert(socialSecurityPeopleID);
                layer.open({
                    type: 2,
                    title: '订单列表',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['600px', '400px'],
                    content: '@Url.Action("GetOrderList", "CustomerService")?SocialSecurityPeopleID=' + socialSecurityPeopleID //iframe的url
                });
            });

            //申请业务
            $(".action-complete").click(function () {

                if ($("input[type='checkbox'][name='customer']:checked").length <= 0) {
                    layer.msg("请选择申请业务的客户");
                    return;
                }
                var flag = false;
                $("input[type='checkbox'][name='customer']:checked").each(function (i) {
                    //判断是否已审核过
                    var value = $(this).closest("tr").find("td.customer-status").data("customerstatus");

                    if (value == '@Convert.ToInt32(CustomerServiceAuditEnum.Pass)') {

                        layer.msg("请选择未审核的用户");

                        flag = true;
                        return;
                    }
                    @*//判断是否是已付款或订单已完成用户
                    var value1 = $(this).closest("tr").find("td.order-status").data("orderstatus");

                    if (value1 != '@Convert.ToInt32(OrderEnum.Auditing)' && value1 != '@Convert.ToInt32(OrderEnum.completed)') {
                        layer.msg("请选择已付款或已完成的客户");
                        flag = true;
                        return;
                    }*@
                });
                if (flag)
                    return;


                layer.confirm('确定要进行业务申请吗？',
                    { btn: ['确定', '取消'] },
                    function () {
                        var SocialSecurityPeopleIDs = [];
                        var OrderCodes = [];
                        $("input[type='checkbox'][name='customer']:checked").each(function (i) {
                            SocialSecurityPeopleIDs[i] = $(this).val();
                            //OrderCodes[i] = $(this).closest("tr").find("td.order-code").text();
                        });

                        var index = layer.load(1, {
                            shade: [0.1, '#000']
                        });

                        //提交
                        $.ajax({
                            url: "@Url.Action("BatchComplete", "CustomerService")",
                            data: { "SocialSecurityPeopleIDs": SocialSecurityPeopleIDs },
                            dataType: "json",
                            type: "post",
                            success: function (response) {
                                layer.close(index);
                                if (response.status) {
                                    layer.msg(response.message);
                                    refresh();
                                } else {
                                    layer.msg(response.message);
                                }
                            },
                            error: function (data) {
                                layer.close(index);
                                layer.msg("服务器错误");
                            }
                        });
                    })
            });
        })

    </script>
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 客户管理 <span class="c-gray en">&gt;</span> 客户管理<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="text-c">
        @using (Html.BeginForm("GetCustomerServiceList", "CustomerService", FormMethod.Get))
            {
            @Html.Raw("客户类型:")
            <span class="select-box inline">
                @Html.DropDownList("UserType", ViewData["UserType"] as SelectList, new { @class = "select" })
            </span>
            @Html.Raw("代理机构:")
            <span class="select-box inline">
                @{
                    var memberList = ViewBag.memberList as List<Members>;
                    var list = new List<SelectListItem> { new SelectListItem { Text = "全部", Value = "" } };
                    var value = 0;
                    list.AddRange(memberList.Select(item => new SelectListItem
                    {
                        Text = item.MemberName,
                        Value = item.MemberID.ToString()
                    }));
                }
                @Html.DropDownList("MemberID", list, new { @class = "select" })
            </span>
                @:客户名称： @Html.TextBox("SocialSecurityPeopleName", null, new { style = "width:250px", @class = "input-text", placeholder = "客户名称" })
                    @:身份证号： @Html.TextBox("IdentityCard", null, new { style = "width:250px", @class = "input-text", placeholder = "身份证号" })
                    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>

                    }
    </div>

    <div class="mt-20">
        @if (!string.IsNullOrWhiteSpace(TempData["Message"] + ""))
        {
            <div class="Huialert Huialert-info">@(TempData["Message"])</div>
        }
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th width="80">用户类型</th>
                    <th width="80">代理机构</th>
                    <th width="80">电话</th>
                    <th width="80">个人账户</th>
                    <th width="80">订单号</th>
                    @*<th width="80">订单状态</th>*@
                    <th width="80">关联订单号</th>
                    <th width="80">客户名称</th>
                    <th width="80">身份证</th>
                    <th width="80">欠费金额</th>
                    <th width="80">社保状态</th>
                    <th width="80">社保异常备注</th>
                    <th width="80">公积金状态</th>
                    <th width="80">公积金异常备注</th>
                    <th width="80">客服审核状态</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customerService in Model.Items)
                {
                    <tr class="text-c">
                        <td><input type="checkbox" value="@customerService.SocialSecurityPeopleID" name="customer"></td>
                        <td>
                            @EnumExt.GetEnumCustomDescription((UserTypeEnum)(Convert.ToInt32(customerService.UserType)))
                        </td>
                        <td>@customerService.MemberName</td>
                        <td>@customerService.MemberPhone</td>
                        <td>@customerService.Account</td>
                        <td class="td-status">
                            <span class="label label-success radius order-view" style="cursor:pointer;" data-id="@customerService.SocialSecurityPeopleID">查看</span>
                        </td>
                        @*<td class="order-status" data-orderstatus="@if(!string.IsNullOrEmpty(customerService.OrderStatus)) {<text>@Convert.ToInt32(customerService.OrderStatus)</text>}">
                                @if (!string.IsNullOrEmpty(customerService.OrderStatus))
                                {
                                    @:@EnumExt.GetEnumCustomDescription((OrderEnum)(Convert.ToInt32(customerService.OrderStatus)))
                                }
                            </td>*@
                        <td></td>
                        <td>@customerService.SocialSecurityPeopleName</td>
                        <td>@customerService.IdentityCard</td>
                        <td>@customerService.ArrearAmount.ToString("N2")</td>
                        <td>
                            @if (!string.IsNullOrEmpty(customerService.SSstatus))
                            {
                                @EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)(Convert.ToInt32(customerService.SSstatus)))

                            }
                            else
                            {
                                @:无
                            }
                        </td>
                        <td>@customerService.SocialSecurityException</td>
                        <td>
                            @if (!string.IsNullOrEmpty(customerService.AFStatus))
                            {
                                @EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)(Convert.ToInt32(customerService.AFStatus)))

                            }
                            else
                            {
                                @:无
                            }
                        </td>
                        <td>@customerService.AccumulationFundException</td>
                        <td class="customer-status" data-customerstatus="@Convert.ToInt32(customerService.CustomerServiceStatus)">@EnumExt.GetEnumCustomDescription((CustomerServiceAuditEnum)(Convert.ToInt32(customerService.CustomerServiceStatus)))</td>
                        <td>
                            <a title="详情" href='@Url.Action("GetSocialSecurityPeopleDetail","CustomerService")?SocialSecurityPeopleID=@customerService.SocialSecurityPeopleID&MemberID=@customerService.MemberID&Type=0' class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                            @*<a title="编辑" href='@Url.Action("GetSocialSecurityPeopleDetail","CustomerService")?SocialSecurityPeopleID=@customerService.SocialSecurityPeopleID&MemberID=@customerService.MemberID&Type=1' class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="pager" style="margin-top: 20px;"></div>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" class="btn btn-danger radius action-complete"><i class="Hui-iconfont">&#xe6e1;</i> 申请业务</a></span> <span class="r">共有数据：<strong>@Model.TotalItemCount</strong> 条</span> </div>
</div>
