@model SocialSecurityPeople
@{
    var member = ViewData["member"] as Members;
    var accountRecordList = ViewData["accountRecordList"] as List<AccountRecord>;
    var type = Request.Params["Type"];
}
@section Header
{
    <link rel="stylesheet" type="text/css" href="/Content/lib/webuploader/0.1.5/webuploader.css" />
}
@section Footer{
    <style>
        span.lineheight {
            line-height: 31px;
        }
    </style>
    <script>
        $(function () {

            //手动更改社保基数
            $("[name='SocialSecurityBase']").blur(function () {

                var val = $.trim($("[name='ssPayProportion']").val());

                $("#SSMonthAccount").text(Math.round(Number($(this).val()) * Number(val.substring(0, val.length - 1)) / 100, 2));
            })

            //手动更改公积金基数
            $("[name='AccumulationFundBase']").blur(function () {
                var val = $.trim($("[name='afPayProportion']").val());

                $("#AFMonthAccount").text(Math.round(Number($(this).val()) * Number(val.substring(0, val.length - 1)) / 100, 2));
            });


            //提交
            $("button[type='submit']").click(function () {
                var SocialSecurityBase = Number($("[name='SocialSecurityBase']").val());
                var SSMinBase = Number($("#SSMinBase").text());
                var SSMaxBase = Number($("#SSMaxBase").text());
                if (SocialSecurityBase < SSMinBase || SocialSecurityBase > SSMaxBase) {
                    alert("所填社保基数不符合范围");
                    return false;
                }

                var AccumulationFundBase = Number($("[name='AccumulationFundBase']").val());
                var AFMinBase = Number($("#AFMinBase").text());
                var AFMaxBase = Number($("#AFMaxBase").text());
                if (AccumulationFundBase < AFMinBase || AccumulationFundBase > AFMaxBase) {
                    alert("所填公积金基数不符合范围");
                    return false;
                }
            });

            @*$("#HouseholdProperty").change(function () {
                var HouseholdProperty = $(this).find("option:selected").text();
                alert('@Model.socialSecurity');
                if ('@Model.socialSecurity' != 'null') {

                    //ssEnterpriseName ssSocialSecurityBase ssPayProportion
                    $.ajax({
                        url: '@Url.Action("GetDefaultEnterpriseSocialSecurityByArea", "Enterprise")?area='+'@Model.socialSecurity.InsuranceArea'+'&HouseholdProperty=' + HouseholdProperty,
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            $("#ssEnterpriseName").text(data.EnterpriseName);
                        },
                        error: function (err) {
                            alert("服务器错误");
                        }
                    });
                }*@
            @*if (!'@Model.accumulationFund == null') {
                    //ssEnterpriseName ssSocialSecurityBase ssPayProportion

                }*@
            //});

            //户籍性质改变时
            $("#HouseholdProperty").change(function () {
                var InsuranceArea = $("#InsuranceArea[type='hidden']").val();
                var Accumulation = $("#AccumulationFundArea[type='hidden']").val();

                var HouseholdProperty = $(this).find("option:selected").text();

                if (InsuranceArea != undefined) {
                    $.ajax({
                        url: '@Url.Action("GetEnterpriseSocialSecurityByAreaList", "CustomerService")?area=' + InsuranceArea + "&HouseHoldProperty=" + HouseholdProperty,
                        type: 'get',
                        dataType: "json",
                        success: function (data) {
                            $("#SSEnterpriseList").empty();
                            $.each(data, function (i, value) {
                                $("#SSEnterpriseList").append("<option value='" + value.EnterpriseID + "'>" + value.EnterpriseName + "</option>");
                            });
                            $("#SSEnterpriseList").change();
                        },
                        error: function () {
                            alert("服务器错误");
                        }
                    });
                }

                if (Accumulation != undefined) {

                    $.ajax({
                        url: '@Url.Action("GetEnterpriseSocialSecurityByAreaList", "CustomerService")?area=' + Accumulation + "&HouseHoldProperty=" + HouseholdProperty,
                        type: 'get',
                        dataType: "json",
                        success: function (data) {
                            $("#AFEnterpriseList").empty();
                            $.each(data, function (i, value) {
                                $("#AFEnterpriseList").append("<option value='" + value.EnterpriseID + "'>" + value.EnterpriseName + "</option>");
                            });
                            $("#AFEnterpriseList").change();
                        },
                        error: function () {
                            alert("服务器错误");
                        }
                    });
                }
            });

            //社保签约单位改变时
            $("#SSEnterpriseList").change(function () {
                $.ajax({
                    url: '@Url.Action("GetSSEnterprise", "CustomerService")?EnterpriseID=' + $(this).val(),
                    type: 'get',
                    dataType: "json",
                    success: function (data) {
                        $("#SSMinBase").text(data.SSMinBase);
                        $("#SSMaxBase").text(data.SSMaxBase);
                        $("[name='SocialSecurityBase']").val(data.SSMinBase);
                        $("[name='ssPayProportion']").val(data.SSPayProportion + "%");
                        $("#SSMonthAccount").text(data.SSMonthAccount);
                    },
                    error: function () {
                        alert("服务器错误");
                    }
                });
            })

            //公积金签约单位改变时
            $("#AFEnterpriseList").change(function () {
                $.ajax({
                    url: '@Url.Action("GetAFEnterprise", "CustomerService")?EnterpriseID=' + $(this).val(),
                    type: 'get',
                    dataType: "json",
                    success: function (data) {
                        $("#AFMinBase").text(data.AFMinBase);
                        $("#AFMaxBase").text(data.AFMaxBase);
                        $("[name='AccumulationFundBase']").val(data.AFMinBase);
                        $("[name='afPayProportion']").val(data.AFPayProportion + "%");
                        $("#AFMonthAccount").text(data.AFMonthAccount);
                    },
                    error: function () {
                        alert("服务器错误");
                    }
                });
            })
        })
    </script>
    <script type="text/javascript" src="/Content/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript">
        window.config.Webuploader = null;

        function removeFile(current) {
            var $this = $(current).parents(".item");
            var id = $this.attr("id");
            $this.remove().empty();

            $(".wyjk-images").each(function (i) {
                $(this).attr("name", 'ImgUrls[' + i + ']');
            });
            if (id) {
                window.config.Webuploader.removeFile(id);
            }
        }
    </script>
    <script type="text/javascript">
        $list = $("#fileList"),
            $btn = $("#btn-star"),
            state = "pending";
        var uploader = window.config.Webuploader = WebUploader.create({
            auto: true,
            swf: '/Content/lib/webuploader/0.1.5/Uploader.swf',

            // 文件接收服务端。
            server: '/api/upload/MultiUpload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                    '<div id="' + file.id + '" class="item ">' +
                    '<div class="pic-box"><img></div>' +
                    // '<div class="info">' + file.name + '</div>' +
                    //'<p class="state">等待上传...</p>' +
                    '</div>'
                ),
                $img = $li.find('img');
            $list.append($li);
            thumbnailWidth = 100;
            thumbnailHeight = 100;
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr('src', src);
            }, thumbnailWidth, thumbnailHeight);
        });
        uploader.on('uploadBeforeSend', function (obj, data, headers) {
            @*headers.UserId = @Model.UserId;*@
        });
        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {

            var $li = $('#' + file.id),
                $percent = $li.find('.progress-box .sr-only');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo($li).find('.sr-only');
            }
            //$li.find(".state").text("上传中");
            $percent.css('width', percentage * 100 + '%');
        });
        //uploader.on('uploadAccept', function (obj, response) {
        //    return response.status === 'true';
        //});
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            var index = $(".upload-state-done").length;
            //alert("上传成功");

            var html = '<span class="iconfont icon-iconfontwiconguanbi uploader-remove" title="删除" onclick="removeFile(this)"><input type="hidden"  class="wyjk-images"  name="ImgUrls[' + index + ']" value="' + response.Data[0] + '"/></span>';
            $('#' + file.id).addClass('upload-state-done').append(html);
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            //alert("上传失败");
            $('#' + file.id).addClass('upload-state-error').find(".state").text("上传出错");
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            //alert("上传完成");
            $('#' + file.id).find('.progress-box').fadeOut();
        });
        uploader.on('all', function (type) {
            if (type === 'startUpload') {
                state = 'uploading';
            } else if (type === 'stopUpload') {
                state = 'paused';
            } else if (type === 'uploadFinished') {
                state = 'done';
            }

            if (state === 'uploading') {
                $btn.text('暂停上传');
            } else {
                $btn.text('开始上传');
            }
        });

        $btn.on('click', function () {
            if (state === 'uploading') {
                uploader.stop();
            } else {
                uploader.upload();
            }
        });

    </script>
}
<div class="pd-20">
    <form action='@Url.Action("SaveEnterprise")' method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl" style="text-align:center;">
            <label style="font-size:24px;font-weight:bold;">@(Model.SocialSecurityPeopleName)的基本信息</label>
            @Html.HiddenFor(m => m.SocialSecurityPeopleID)
        </div>
        <div class="row cl">
            <label class="form-label col-3">用户类型：</label>
            <div class="formControls col-2">
                <span class="lineheight">@EnumExt.GetEnumCustomDescription((UserTypeEnum)Convert.ToInt32(member.UserType))</span>
            </div>
            <label class="form-label col-3">代理机构：</label>
            <div class="formControls col-2">
                <span class="lineheight">@member.MemberName</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">身份证：</label>
            <div class="formControls col-2">
                @if (type == "0")
                {
                    <span class="lineheight">@Model.IdentityCard</span>
                }
                else if (type == "1")
                {
                    @Html.TextBoxFor(m => m.IdentityCard, new { @class = "input-text" })
                }
            </div>
            <label class="form-label col-3">业务专员：</label>
            <div class="formControls col-2">
                <input type="hidden" value="@member.MemberID" name="MemberID" />
                @if (type == "0")
                {
                    <span class="lineheight">
                        @if (!string.IsNullOrEmpty(member.InviteCode))
                        {
                            WYJK.Data.IService.IUserService _userService = new WYJK.Data.ServiceImpl.UserService();
                            WYJK.Entity.Users user = _userService.GetUserInfo(member.InviteCode);
                            @(user != null ? user.TrueName : "客服");
                        }
                        else {
                            @:客服
                    }
                    </span>
                }
                else if (type == "1")
                {
                    if (!string.IsNullOrEmpty(member.InviteCode))
                    {
                        WYJK.Data.IService.IUserService _userService = new WYJK.Data.ServiceImpl.UserService();

                        WYJK.Entity.Users user = _userService.GetUserInfo(member.InviteCode);

                        List<WYJK.Entity.Users> userList = _userService.GetUserList();
                        var list = new List<SelectListItem> { new SelectListItem { Text = "客服", Value = "" } };
                        list.AddRange(userList.Select(item => new SelectListItem
                        {
                            Value = item.UserID.ToString(),
                            Text = item.TrueName,
                            Selected = item.UserID == (user == null ? 0 : user.UserID)
                        }));

                        @Html.DropDownList("InviteCode", list, new { @class = "input-text" });
                    }
                    else {
                        WYJK.Data.IService.IUserService _userService = new WYJK.Data.ServiceImpl.UserService();
                        List<WYJK.Entity.Users> userList = _userService.GetUserList();
                        var list = new List<SelectListItem> { new SelectListItem { Text = "客服", Value = "" } };
                        list.AddRange(userList.Select(item => new SelectListItem
                        {
                            Value = item.UserID.ToString(),
                            Text = item.TrueName
                        }));

                        @Html.DropDownList("InviteCode", list, new { @class = "input-text" });
                    }

                }
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">户籍性质：</label>
            <div class="formControls col-2">
                @if (type == "0")
                {
                    <span class="lineheight">
                        @Model.HouseholdProperty
                    </span>
                }
                else if (type == "1")
                {
                    @Html.DropDownList("HouseholdProperty", ViewData["HouseholdProperty"] as List<SelectListItem>, new { @class = "input-text" });
                }
            </div>
        </div>
        @{
            var ImgUrls = Model.IdentityCardPhoto.Split(';');
        }
        @if (type == "0")
        {
            <div class="row cl">
                <label class="form-label col-3">身份证照：</label>
                @if (ImgUrls != null && ImgUrls.Length > 0)
                {
                    foreach (var ImgUrl in ImgUrls)
                    {

                        <div class="formControls col-2">
                            <img src="/@ImgUrl" height="100" />
                        </div>
                    }
                }
            </div>
        }
        else if (type == "1")
        {
            <div class="row cl">
                <label class="form-label col-3">身份证照：</label>
                <div class="formControls col-8">
                    <div class="uploader-thum-container">
                        <div id="fileList" class="uploader-list">

                            @if (ImgUrls != null && ImgUrls.Length > 0)
                            {
                                for (int i = 0, len = ImgUrls.Length; i < len; i++)
                                {
                                    <div class="item upload-state-done">
                                        <div class="pic-box">
                                            <img src="/@ImgUrls[i]" style="width: 100px; height: 100px" />

                                        </div>
                                        <span class="iconfont icon-iconfontwiconguanbi uploader-remove" title="删除" onclick="removeFile(this)">
                                            <input type="hidden" name="ImgUrls[@i]" class="wyjk-images" value="@ImgUrls[i]" />
                                        </span>
                                    </div>

                                }
                            }
                        </div>
                        <div id="filePicker">选择图片</div>
                    </div>
                </div>
            </div>
        }

        <br />


        @if (Model.socialSecurity != null)
        {
            @Html.Hidden("IsPaySocialSecurity", true)
            <div class="row cl" style="text-align:center;">
                <label style="font-size:24px;font-weight:bold;">@(Model.SocialSecurityPeopleName)的社保业务信息</label>
            </div>
            <div class="row cl">
                <label class="form-label col-3">客户社保号：</label>
                <div class="formControls col-2">
                    @if (type == "0")
                    {
                        <span class="lineheight">
                            @if (string.IsNullOrWhiteSpace(Model.socialSecurity.SocialSecurityNo))
                            {
                                @:无
                    }
                            else {
                                @Model.socialSecurity.SocialSecurityNo
                            }
                        </span>
                    }
                    else if (type == "1")
                    {
                        @*@Html.TextBoxFor(m => m.socialSecurity.SocialSecurityNo, new { @class = "input-text" })*@
                        <input type="text" value="@Model.socialSecurity.SocialSecurityNo" name="SocialSecurityNo" class="input-text" />
                    }

                </div>
                <label class="form-label col-3">签约单位：</label>
                <div class="formControls col-2">
                    <span class="lineheight" id="ssEnterpriseName">
                        @if (type == "0")
                        {
                            WYJK.Data.IService.IEnterpriseService _enterpriseService = new WYJK.Data.ServiceImpl.EnterpriseService();
                            EnterpriseSocialSecurity enterpriseSocialSecurity = _enterpriseService.GetEnterpriseSocialSecurity(Model.socialSecurity.RelationEnterprise);
                            @enterpriseSocialSecurity.EnterpriseName
                        }
                        else if (type == "1")
                        {
                            @Html.DropDownList("SSEnterpriseList", ViewData["SSEnterpriseList"] as List<SelectListItem>, new { @class = "input-text" });
                        }
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">基数：</label>
                <div class="formControls col-2">
                    @if (type == "0")
                    {
                        <span class="lineheight" id="ssSocialSecurityBase">
                            @Model.socialSecurity.SocialSecurityBase
                        </span>
                    }
                    else if (type == "1")
                    {
                        @*@Html.TextBoxFor(m => m.socialSecurity.SocialSecurityBase, new { @class = "input-text" })*@
                        <input type="text" value="@Model.socialSecurity.SocialSecurityBase" name="SocialSecurityBase" class="input-text" />
                        <div style="color:red;">
                            <span>基数范围：</span>
                            <span id="SSMinBase">
                                @ViewData["SSMinBase"]
                            </span>
                            <span>~</span>
                            <span id="SSMaxBase">
                                @ViewData["SSMaxBase"]
                            </span>
                        </div>

                    }

                </div>
                <label class="form-label col-3">比例：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        <input type="text" name="ssPayProportion" value="@Model.socialSecurity.PayProportion%" readonly="readonly" class="input-text" />
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">参保地：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.InsuranceArea.Replace("|", "")
                    </span>
                    <input id="InsuranceArea" type="hidden" value="@Model.socialSecurity.InsuranceArea" />
                </div>
                <label class="form-label col-3">每月交：</label>
                <div class="formControls col-2">
                    <span class="lineheight" id="SSMonthAccount">
                        @Math.Round(Model.socialSecurity.SocialSecurityBase * Model.socialSecurity.PayProportion / 100, 2)
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">起缴时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.PayTime
                    </span>
                </div>
                <label class="form-label col-3">业务当前状态：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)Convert.ToInt32(Model.socialSecurity.Status))
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">业务申请时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.PayTime
                    </span>
                </div>
                <label class="form-label col-3">交费至：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.PayTime.AddMonths(Model.socialSecurity.PayMonthCount - 1)
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">业务办停时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.StopDate
                    </span>
                </div>
                <label class="form-label col-3">业务办理时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.HandleDate
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">备注：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.socialSecurity.Note
                    </span>
                </div>
            </div>
        }
        else
        {
            @Html.Hidden("IsPaySocialSecurity", false)
        }

        @if (Model.accumulationFund != null)
        {
            @Html.Hidden("IsPayAccumulationFund", true)
            <div class="row cl" style="text-align:center;">
                <label style="font-size:24px;font-weight:bold;">@(Model.SocialSecurityPeopleName)的公积金业务信息</label>
            </div>
            <div class="row cl">
                <label class="form-label col-3">客户公积金号：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @if (type == "0")
                        {
                            if (string.IsNullOrWhiteSpace(Model.accumulationFund.AccumulationFundNo))
                            {
                                @:无
                    }
                            else {
                                @Model.accumulationFund.AccumulationFundNo
                            }
                        }
                        else if (type == "1")
                        {
                            @*@Html.TextBoxFor(m => m.accumulationFund.AccumulationFundNo, new { @class = "input-text" })*@
                            <input type="text" name="AccumulationFundNo" value="@Model.accumulationFund.AccumulationFundNo" class="input-text" />
                        }

                    </span>
                </div>
                <label class="form-label col-3">签约单位：</label>
                <div class="formControls col-2">
                    <span class="lineheight" id="afEnterpriseName">
                        @if (type == "0")
                        {
                            WYJK.Data.IService.IEnterpriseService _enterpriseService = new WYJK.Data.ServiceImpl.EnterpriseService();
                            EnterpriseSocialSecurity enterpriseSocialSecurity = _enterpriseService.GetEnterpriseSocialSecurity(Model.accumulationFund.RelationEnterprise);
                            @enterpriseSocialSecurity.EnterpriseName
                        }
                        else if (type == "1")
                        {
                            @Html.DropDownList("AFEnterpriseList", ViewData["AFEnterpriseList"] as List<SelectListItem>, new { @class = "input-text" });
                        }
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">基数：</label>
                <div class="formControls col-2">

                    @if (type == "0")
                    {<span class="lineheight" id="afAccumulationFundBase">
                        @Model.accumulationFund.AccumulationFundBase
                    </span>
                    }
                    else if (type == "1")
                    {
                        @*@Html.TextBoxFor(m => m.accumulationFund.AccumulationFundBase, new { @class = "input-text" })*@
                        <input type="text" value="@Model.accumulationFund.AccumulationFundBase" name="AccumulationFundBase" class="input-text" />
                        <div style="color:red;">
                            <span>基数范围：</span>
                            <span id="AFMinBase">
                                @ViewData["AFMinBase"]
                            </span>
                            <span>~</span>
                            <span id="AFMaxBase">
                                @ViewData["AFMaxBase"]
                            </span>
                        </div>
                    }

                </div>
                <label class="form-label col-3">比例：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        <input type="text" value="@Model.accumulationFund.PayProportion%" name="afPayProportion" readonly="readonly" class="input-text" />
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">参保地：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.AccumulationFundArea.Replace("|", "")
                    </span>
                    <input id="AccumulationFundArea" type="hidden" value="@Model.accumulationFund.AccumulationFundArea" />
                </div>
                <label class="form-label col-3">每月交：</label>
                <div class="formControls col-2">
                    <span class="lineheight" id="AFMonthAccount">
                        @Math.Round(Model.accumulationFund.AccumulationFundBase * Model.accumulationFund.PayProportion / 100, 2)
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">起缴时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.PayTime
                    </span>
                </div>
                <label class="form-label col-3">业务当前状态：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)Convert.ToInt32(Model.accumulationFund.Status))
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">业务申请时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.PayTime
                    </span>
                </div>
                <label class="form-label col-3">交费至：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.PayTime.AddMonths(Model.accumulationFund.PayMonthCount - 1)
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">业务办停时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.StopDate
                    </span>
                </div>
                <label class="form-label col-3">业务办理时间：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.HandleDate
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3">备注：</label>
                <div class="formControls col-2">
                    <span class="lineheight">
                        @Model.accumulationFund.Note
                    </span>
                </div>
            </div>
        }
        else {
            @Html.Hidden("IsPayAccumulationFund", false)
        }

        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
            </div>
        </div>
    </form>
    <div class="row cl" style="text-align:center;">
        <label style="font-size:24px;font-weight:bold;">@(member.MemberName)的账户信息</label>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="80">收支类型</th>
                    <th width="80">来源</th>
                    <th width="80">备注</th>
                    <th width="80">费用</th>
                    <th width="80">余额</th>
                    <th width="80">时间</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var accountRecord in accountRecordList)
                {
                    <tr class="text-c">
                        <td>@accountRecord.ShouZhiType</td>
                        <td>@accountRecord.LaiYuan</td>
                        <td>@accountRecord.OperationType</td>
                        <td>@accountRecord.Cost</td>
                        <td>@accountRecord.Balance</td>
                        <td>@accountRecord.CreateTime.ToString("yyyy/MM/dd HH:mm")</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </form>
</div>