@if (ViewData["SocialSecurityList"] != null)
{
    <div class="pd-20">
        <div class="text-c">
            社保列表
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="80">客户名称</th>
                        <th width="80">身份证</th>
                        <th width="80">起始日期</th>
                        <th width="80">社保交至</th>
                        <th width="80">基数</th>
                        <th width="80">比例</th>
                        <th width="80">每月交费</th>
                        <th width="120">状态</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var socialSecurity in ViewData["SocialSecurityList"] as List<SocialSecurityShowModel>)
                {
                        <tr class="text-c">
                            <td>@socialSecurity.SocialSecurityPeopleName</td>
                            <td>@socialSecurity.IdentityCard</td>
                            <td>@socialSecurity.PayTime.ToString("yyyy/MM")</td>
                            <td>@socialSecurity.PayTime.AddMonths(socialSecurity.PayMonthCount).ToString("yyyy/MM")</td>
                            <td>@socialSecurity.SocialSecurityBase.ToString("N2")</td>
                            <td>@socialSecurity.PayProportion.ToString("N2")</td>
                            <td>@Convert.ToDecimal(socialSecurity.SocialSecurityBase * socialSecurity.PayProportion / 100).ToString("N2")</td>
                            <td class="td-status"><span class="label label-success radius">@EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)(Convert.ToInt32(socialSecurity.Status)))</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (ViewData["AccumulationFundList"] != null)
{

    <div class="pd-20">
        <div class="text-c">
            公积金列表
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="80">客户名称</th>
                        <th width="80">身份证</th>
                        <th width="80">起始日期</th>
                        <th width="80">社保交至</th>
                        <th width="80">基数</th>
                        <th width="80">比例</th>
                        <th width="80">每月交费</th>
                        <th width="120">状态</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var accumulationFund in ViewData["AccumulationFundList"] as List<AccumulationFundShowModel>)
                {
                        <tr class="text-c">
                            <td>@accumulationFund.SocialSecurityPeopleName</td>
                            <td>@accumulationFund.IdentityCard</td>
                            <td>@accumulationFund.PayTime.ToString("yyyy/MM")</td>
                            <td>@accumulationFund.PayTime.AddMonths(accumulationFund.PayMonthCount).ToString("yyyy/MM")</td>
                            <td>@accumulationFund.AccumulationFundBase.ToString("N2")</td>
                            <td>@accumulationFund.PayProportion.ToString("N2")</td>
                            <td>@Convert.ToDecimal(accumulationFund.AccumulationFundBase * accumulationFund.PayProportion / 100).ToString("N2")</td>
                            <td class="td-status"><span class="label label-success radius">@EnumExt.GetEnumCustomDescription((SocialSecurityStatusEnum)(Convert.ToInt32(accumulationFund.Status)))</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}