@model InsuranceAdd2ViewModel
@{
    Layout = "~/Views/_Layout_black.cshtml";
}
<div class="bg-lightgrey">
    <div class="container bg-white">
        <div class="relative text-center">
            <hr />
            <span class="hrTitle-w left grey">
                立即投保/新增参保人
            </span>
        </div>
        @Html.Partial("~/Views/Message.cshtml")
        <!--进度条-->
        <div class="statusBox-w add-insurance am-padding-vertical-sm">
            <ul class="clearfix am-padding-0">
                <li class="prev">
                    <b class="num pull-left">1</b>
                    <span class="pull-left">添加参保人</span>
                    <i class="icon-w pull-right"></i>
                </li>
                <li class="current">
                    <b class="num pull-left">2</b>
                    <span class="pull-left">缴纳社保</span>
                    <i class="icon-w pull-right"></i>
                </li>
                <li class="">
                    <b class="num pull-left">3</b>
                    <span class="pull-left">缴纳公积金</span>
                </li>
            </ul>
        </div>
        <!--表单计算-->
        <form class="form-horizontal" action="@Url.Action("Add2","UserInsurance")" method="post">
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">参保地</label>
               
                <div class="col-lg-3">
                    @Html.DropDownList("province", ViewBag.Provinces as List<SelectListItem>, new { @class = "form-control" })
                </div>
                <div class="col-lg-3">
                    <select id="city" name="city" class="form-control">
                        <option>请选择城市</option>
                    </select>
                </div>    
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">社保基数</label>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.SocialSecurityBase, new { @class = "form-control", placeholder = "请输入社保基数" })
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">起缴时间</label>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.PayTime, new { @class = "form-control", placeholder = "请选择起缴年/月" })
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">参保月份</label>
                <div class="col-lg-6">
                    
                    @Html.TextBoxFor(m => m.AlreadyPayMonthCount, new { @class = "form-control", placeholder = "请输入参保月份" })
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">补交月份</label>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.PayBeforeMonthCount, new { @class = "form-control", placeholder = "请输入补交月份" })
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">今年参保情况</label>
                <div class="col-lg-6">
                    在银行缴纳 @Html.TextBoxFor(m => m.BankPayMonth, new { @class = "form-control input-sm-w am-margin-horizontal-sm"})个月，
                    在企业缴纳 @Html.TextBoxFor(m => m.EnterprisePayMonth, new { @class = "form-control input-sm-w am-margin-horizontal-sm"})个月
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 col-lg-offset-1 control-label">备注</label>
                <div class="col-lg-6">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "请填写备注" })
                </div>
            </div>
            <div class="form-group am-padding-top-xl">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <button type="submit" id="confirm" class="btn btn-info bg-lightblue btn-lg btn-block">确认参保</button>
                    </div>
                </div>
            </div>
            <div class="form-group am-padding-bottom-xl">
                <div class="row">
                    <div class="col-lg-offset-4 col-lg-4 text-center">
                        <button type="submit" formaction="/UserInsurance/Add2Next" id="next" class="btn btn-info bg-lightblue btn-lg btn-block">下一步</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Header{
<link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/scripts/ProvinceAndCity.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
			    $(document).ready(function() {
			        inputDatepicker();
			    });

			    function inputDatepicker(){
			        $('#PayTime').datetimepicker({
			            language: 'zh-CN',
			            format: 'yyyy-mm',
			            weekStart: 1,
			            autoclose: 1,
			            todayHighlight: 1,
			            startView: 4,
			            minView: 3,
			            forceParse: 0
			        });
			    }

</script>
}